@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700&display=swap'); // Red Hat Display Font
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700&display=swap'); // Dosis Font

$primary-color: #fb4c47;
$secondary-color: #fa5652;
$background: linear-gradient(#fff1f4, #fff);

@mixin primaryFont {
  font-family: 'Red Hat Display', sans-serif;
}
@mixin secondaryFont {
  font-family: 'Dosis', sans-serif;
}
h1 {
  color: rgba(255, 241, 241, 0.5);
}
a {
  text-decoration: none;
}

@mixin container {
  display: flex;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: $primary-color;
  width: 250px;
  height: 80px;
}

@mixin infoBlock {
  h3 {
    font-size: 32px;
    color: $primary-color;
    font-weight: bold;
  }
  h1 {
    font-weight: bold;
    color: #035755;
    font-size: 52px;
    margin-bottom: 30px;
  }
  p {
    color: #4b4f51;
    font-size: 24px;
    margin-bottom: 54px;
    line-height: 215%;
  }
}

@mixin secondaryHeader {

}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
    // need to change!
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1470px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
