@include mediaLg {
.alert {
  &-image {
    img {
      height: 450px;
    }
  }
  &-text {
    h3 {
      font-size: 26px;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 32px;
      margin-bottom: 20px;
    }
    p {
      font-size: 24px;
      margin-bottom: 45px;
    }
  }
}
  .btn {
    &-primary {
      font-size: 18px;
      width: 200px;
      height: 50px;
    }
  }
}

@include mediaMd {
  .alert {
    flex-direction: column;
    margin-top: 20px;
margin-left: 5px;
    &-image {
    img {
      width: 100%;
      height: unset;
    }
  }
    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
        text-align: center;
      h1 {
        font-size: 36px;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 15px;
      }
    }
  }

  .btn {
    &-primary {
      font-size: 16px;
      width: 150px;
      height: 40px;
      margin-bottom: 20px;
    }
  }
}

//@include mediaXl {
//  .alert {
//    &-image {
//      img {
//        height: 450px;
//      }
//    }
//    &-text {
//      h3 {
//        font-size: 26px;
//        margin-bottom: 10px;
//      }
//      h1 {
//        font-size: 32px;
//        margin-bottom: 20px;
//      }
//      p {
//        font-size: 24px;
//        margin-bottom: 45px;
//      }
//    }
//  }
//}