@import 'config';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include primaryFont;
}

#main-header {
  width: 100%;
  background: $background;
  .nav {
    @include container;
    justify-content: space-between;

    &-logo {
      display: flex;
      align-items: center;
      margin-top: 30px;
      img {
        width: 63px;
        height: 63px;
      }
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        text-transform: uppercase;
        color: #035755;
        margin-left: 14px;
      }
    }
    &-menu {
      @include secondaryFont;
      font-size: 18px;
      display: flex;
      align-items: center;
      margin-top: 30px;

      a {
        color: #035755;
        text-decoration: none;
      }
      ul {
        display: flex;
        align-items: center;

        list-style: none;
        li {
          margin-left: 14px;
          margin-right: 14px;
          &:nth-child(1) {
            a {
              color: $primary-color;
            }
          }
          &:nth-child(5) {
            a {
              padding: 15px 45px;
              font-weight: bold;
              border-radius: 30px;
              border: $primary-color 2px solid;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.alert {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 12.5%;
  &-image {
    margin-left: auto;
    img {
      height: 800px;
    }
  }
  &-text {
    @include infoBlock;
  }
}

#what-is-covid {
  @include container;
  .what-is {
    display: flex;
    align-items: center;
    &-image {
      margin-left: -100px;
      img {
        height: 800px;
      }
    }
    &-text {
      @include infoBlock;
      @include secondaryHeader;
      margin-left: 50px;
      h1 {
        margin-bottom: 18px;
      }
      p {
        font-size: 20px;
      }
    }
    &-microbe-image {
      position: absolute;
      margin-left: auto;
      right: 0;
    }
    &-btn {
      @include btn;
      background: rgba(250, 86, 82, 0.15);
      color: $secondary-color;
    }
  }
}

#contagion {
  margin-top: 50px;
  .contagion {
    &-text {
      @include infoBlock;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      width: 33%;
      p {
        text-align: center;
      }
    }
    &-transmission {
      display: flex;
      flex-direction: row;
      width: 70%;
      margin: 0 auto;
      &-card {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 33.33%;
        margin: 20px;
        text-align: center;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1),
          0 10px 10px rgba(0, 0, 0, 0.08);
        @include infoBlock;
        transition: all 0.5s ease-in-out;
        h1 {
          font-size: 32px;
          margin-top: 52px;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
        }
        img {
          margin: 70px 15px 15px;
        }
      }
      &-card:hover {
        border-bottom: 4px solid $secondary-color;
      }
    }
  }
}

#symptoms {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  .symptoms {
    &-text {
      @include infoBlock;
      width: 33%;
      p {
        margin-bottom: 0;
      }
    }
    &-image {
      img {
        height: 800px;
      }
    }
  }
}
#what-do {
  .what-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 115px;
    &-text {
      @include infoBlock;
      width: 33%;
    }
    &-recommend {
      display: grid;
      grid-template-areas:
        'text1 image1'
        'image2 text2'
        'text3 image3'
        'image4 text4';
      grid-gap: 3rem 1rem;
      justify-content: center;
      align-items: center;
      width: 80%;

      $blocks: (1, 2, 3, 4);
      @each $number in $blocks {
        &-text#{$number} {
          grid-area: text#{$number};
          margin: 0 auto;
          @include infoBlock;
          &-head {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h1 {
              margin: 0 0 0 4%;
              font-size: 47px;
            }
            @media screen and (max-width: 768px) {
              justify-content: center;
            }
          }
          p {
            text-align: left;
            margin-left: 17%;
          }
        }
        &-image#{$number} {
          grid-area: image#{$number};
        }
      }
    }
  }
}

.btn {
  &-primary {
    @include btn;
  }
}

@import 'mobile';
